@import url(fonts.css);
@import url(style1.css);
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');