.list1 {
    width: 400px;
    /* list-style-type: circle; */
    list-style-type: none;
    list-style-image: url(../images/arrow-right.png);
    border: 5px dashed rgb(74, 113, 242);
    border-radius: 20px;
}

.list2 {
    list-style-type: upper-roman;
    list-style-image: none;
}

.in {
    background-color: aqua;
    list-style-position: inside;
}

.out {
    background-color: aquamarine;
    list-style-position: outside;
}